<h1> <%= t('signup.title') %> </h1>
<p>
	<%= t('signup.description') %>
</p>

<%= render 'form_errors', record: @user %>

<%= form_for @user, url: '/signup' do |f| %>
	<p>
		<%= f.label :name, t('labels.user.name') %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :email, t('labels.user.email') %>
		<%= f.text_field :email %>
	</p>

	<p>
		<%= f.label :password, t('labels.user.password') %>
		<%= f.password_field :password %>
	</p>

	<p>
		<%= f.label :password_confirmation, t('labels.user.password_confirmation') %>
		<%= f.password_field :password_confirmation %>
	</p>

	<p>
		<%= f.check_box :tos %>
		<%= f.label :tos, t('labels.user.tos') %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>
