<h1> <%= t('signup.title') %> </h1>
<div>
	<%= t('signup.description') %>
</div>

<%= render 'form_errors', record: @user %>

<%= form_for @user, url: '/signup' do |f| %>
	<div class="form-field">
		<%= f.label :name, t('labels.user.name') %>
		<%= f.text_field :name %>
	</div>

	<div class="form-field">
		<%= f.label :email, t('labels.user.email') %>
		<%= f.text_field :email %>
	</div>

	<div class="form-field">
		<%= f.label :password, t('labels.user.password') %>
		<%= f.password_field :password %>
	</div>

	<div class="form-field">
		<%= f.label :password_confirmation, t('labels.user.password_confirmation') %>
		<%= f.password_field :password_confirmation %>
	</div>

	<div class="form-field checkbox">
		<%= f.check_box :tos %>
		<%= f.label :tos, t('labels.user.tos') %>
	</div>

	<div class="submit">
		<%= f.submit class: 'button' %>
	</div>

<% end %>
