<%= render 'form_errors', record: @task %>
<%= link_to t('actions.back'), tasks_path %>

<%= form_for @task, url: edit_task_path(@task) do |f| %>
	<p>
		<%= f.label :title, t('labels.task.title') %>
		<%= f.text_field :title %>
		<%= f.submit %>
	</p>
<% end %>
