<%= form_for @task, url: new_task_path do |f| %>
    <p>
        <%= f.label :title, t('labels.task.title') %>
        <%= f.text_field :title %>
        <%= f.submit %>
    </p>
<% end %>

<%= render @tasks %>
