<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
	<head>
		<title>TodoList</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		</head>
	<body>
		<section>
			<header>
				<%= link_to root_path do %>
					<%= image_tag 'taskv.svg' %>
				<% end %>

				<nav>
					<% if logged_in? %>
						<span class="user user-small">
							<%= gravatar_image current_user.email %>
							<%= current_user.name %>
						</span>
						<%= button_to t('menu.logout'), logout_path, method: 'delete' %>
					<% else %>
						<%= link_to t('menu.signup'), signup_path %>
						<%= link_to t('menu.login'), login_path %>
					<% end %>
				</nav>
			</header>

			<% flash.each do |type, message| %>
				<p class="message message-<%= type %>">
					<% message %>
				<p>
			<% end %>

			<div class="content">
				<%= yield %>
			</div>
	</section>
	</body>
</html>
